.bottom-buttons {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  width: 250px;
}

.pack {
  cursor: pointer;
  padding: 5px 8px;
  background: #28a745;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.pack:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.item > input {
  width: 250px;
}

.top-bar {
  margin: 20px 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sign-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}

canvas {
  display: block;
  border: 1px solid rgb(105, 105, 105);
}

.button-color {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row !important;
}

.button-color > button {
  width: 200px;
  border-radius: 10px;
}

.button-color > * {
  margin: 26px 0 0px 0px;
}

svg {
  margin-left: 10px;
}

.image-preview-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

label {
  text-decoration: none;
  margin: 5px 10px;
  font-weight: 400;
}
