<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Snap Sign</a>
    <form class="d-flex" role="search">
      <a href="https://nadeemgulam.github.io/Portfolio-2.0/">
        <label class="fs-6  text-black">Checkout my portfolio : <span class="pack">Here</span> </label>
        <img
          width="40px"
          height="40px"
          src="./../assets/pic.png"
          alt=""
          srcset=""
        />
      </a>
    </form>
  </div>
</nav>


<div class="top-bar">
  <div class="item">
    <label>Text Color Picker </label>
    <input type="color" [(ngModel)]="penColor" (change)="updatePenColor()" />
  </div>

  <div class="item">
    <label> Background</label>
    <input
      type="color"
      [(ngModel)]="bgColor"
      (change)="updateBackgroundColor()"
    />
  </div>

  <div class="item">
    <label>Font Size</label>
    <input type="number" [(ngModel)]="fontSize" (change)="updateFontSize()" />
  </div>

  <div class="item button-color">
    <button type="button" class="btn btn-primary" (click)="clearSignPad()">
      Apply Filters
    </button>
    <div
      class="svg-div"
      data-toggle="tooltip"
      data-placement="top"
      title="Colors and Font size will only be applied when this button is clicked "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="25"
        height="25"
        viewBox="0 0 48 48"
      >
        <path
          fill="#2196f3"
          d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
        ></path>
        <path
          fill="#fff"
          d="M22 22h4v11h-4V22zM26.5 16.5c0 1.379-1.121 2.5-2.5 2.5s-2.5-1.121-2.5-2.5S22.621 14 24 14 26.5 15.121 26.5 16.5z"
        ></path>
      </svg>
    </div>
  </div>
</div>

<div class="sign-area">
  <canvas
    #signPadCanvas
    (touchstart)="startSignPadDrawing($event)"
    (touchmove)="movedFinger($event)"
    width="800"
    height="300"
  ></canvas>
</div>

<div class="bottom-buttons">
  <button type="button" class="btn btn-danger" (click)="clearSignPad()">
    Clear
  </button>
  <button type="button" class="btn btn-primary" (click)="saveSignPad()">
    Preview
  </button>
  <button type="button" class="btn btn-warning" (click)="undoSign()">
    Undo
  </button>
  <button type="button" class="btn btn-success" (click)="downloadSign()">
    Download
  </button>
</div>

<div class="image-preview-area" *ngIf="showPreview">
  <img src="{{ signImage }}" />
</div>



<!-- Section: Social media -->
<section 
id="sticky-footer" 
  class="d-flex justify-content-between p-4 flex-shrink-0"
  style="background-color: #6351ce"
>
  <!-- Left -->
  <div class="me-5 text-white">
    <span>Get connected with me on social networks:</span>
  </div>
  <!-- Left -->

  <!-- Right -->
  <div>
    <!-- <a href="" class="text-white me-4">
      <i class="fa fa-facebook" style="font-size:24px"></i>
    </a> -->
    <a href="https://twitter.com/NadeemGulam4" class="text-white me-4">
      <i class="fa fa-twitter" style="font-size:24px"></i>
    </a>
    <a href="https://wa.link/sy8w36" class="text-white me-4">
      <i class="fa fa-whatsapp" style="font-size:24px"></i>
    </a>
    <a href="https://www.instagram.com/nadeem__gulam72/" class="text-white me-4">
      <i class="fa fa-instagram" style="font-size:24px"></i>
    </a>
    <a href="https://www.linkedin.com/in/nadeem-gulam/" class="text-white me-4">
      <i class="fa fa-linkedin" style="font-size:24px"></i>
    </a>
    <a href="https://github.com/NadeemGulam" class="text-white me-4">
      <i class="fa fa-github" style="font-size:24px"></i>
    </a>
    <a href="https://drive.google.com/drive/folders/1n4Fgw_5Hg0_aq5_-bYdChMRTJlPU6zRo" class="text-white me-4">
      <i class="fa fa-file-pdf-o" style="font-size:24px"></i>
    </a>
  </div>
  <!-- Right -->
</section>
<!-- Section: Social media--->